<%- include('partials/header.ejs');%>

    <div class="container">
        <p class="advice-num">Author: <%= authorName %>
        </p>
        <h2>
            <%= adviceTitle %>
        </h2>
        <img src="/images/divider-desktop.svg" class="icons" alt="">
        <!-- <img src="/images/dice.svg" class="icons" alt=""> -->
        <form action="/" method="post">
            <input type="image" value="submit" src="/images/dice.svg">
        </form>

    </div>





    <%- include('partials/footer.ejs');%>